{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Index</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    <p>
      Welcome to search <br>
      
      
   
      
      <a href="index"> Back to homepage</a> <br>

      <form method="post">
      {% csrf_token %}
      {{ form }}
     
   
    <input type="submit" value="Submit">
    </form>
    
   
      
    <h3>
      {{title}}
    </h3>
    {% for curStep in steps %}
    Recipe <br>
     <ol>
       
        <li> {{curStep.stepOne}} </li>
       <li> {{curStep.stepTwo}} </li>
       <li> {{curStep.stepThree}} </li>
      
       
     </ol>
    {% endfor %}
   
    </p>

	</body>
</html>